button{
    color: #5759A8;
    margin: 10px;
    padding: 30px;
    font-size: 40px;
    background-color: #EBEAE2;
    border: 4px solid #8BB1D1;
    border-radius: 5px;
    font-family: cursive;
}

.game-options{
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}

body {
    width: 100%;
    margin: auto;
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-flow: column;
    background-color: #232735;
}
.game-board{
    visibility: hidden;;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #ECEBEB;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    
}
.game-board > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEAE2;
    justify-content: center;
    
}
p{
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px; 
    color: blue;
    font-weight: 10px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
}

.page-header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #8BB1D1;
}

.winning-text{
    display: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 60px; 
    -webkit-text-stroke: #5759A8;
    -webkit-text-stroke-width: 1px;
    color: #ECEBEB;
}

#header-text{
    color: #232735;
    font-family: cursive;
    font-size: 80px;
    text-shadow: 5px 5px #5759A8;
}

.winning-path {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#position-0, #position-3, #position-6{
    border-right: 10px solid #5759A8;
}

#position-1, #position-4, #position-7{
    border-right: 10px solid #5759A8;
}

#position-0, #position-1, #position-2{
    border-bottom: 10px solid #5759A8;
}

#position-6, #position-7, #position-8{
    border-top: 10px solid #5759A8;
}